<html>
    <head>
        <title>Slim App</title>
        <style>body { font-family: Arial, sans-serif; }</style>
    </head>
    <body>
        {% block contents %}
        {% endblock %}
    </body>
</html>



